/* ALL */
:root {
	--corporate-color-1: #dc3545;
	--corporate-color-hover-1: #bb2d3c;
	--corporate-color-active-1: #902531;
	/* --corporate-color-2: #BB2D3C; */
	--default-color: #323232;
}
/* END ALL */

/* FONTS */
@font-face {
	font-family: HelveticaNeueCyr-Light;
	src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf);
}

@font-face {
	font-family: HelveticaNeueCyr-Roman;
	src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf);
}

@font-face {
	font-family: HelveticaNeueCyr-Medium;
	src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf);
}

@font-face {
	font-family: HelveticaNeueCyr-Bold;
	src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf);
}

@font-face {
	font-family: HelveticaNeueCyr-Black;
	src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.ttf);
}

@font-face {
	font-family: Gilroy-Semibold;
	src: url(../fonts/Gilroy/Gilroy-Semibold.ttf);
}

@font-face {
	font-family: Gilroy-Bold;
	src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
	font-family: Gilroy-Black;
	src: url(../fonts/Gilroy/Gilroy-Black.ttf);
}
/* END FONTS */

* {
	box-sizing: border-box;
}

/*h1 {
	font-family: Gilroy-Black;
	color: white;
	font-size: 65px;
	text-transform: uppercase;
}*/

h2 {
	font-family: Gilroy-Bold;
	color: var(--default-color);
	font-size: 30px;
}

h3 {
	font-family: HelveticaNeueCyr-Medium;
	font-size: 20px;
	color: #323232;
}

h3 span {
	color: var(--corporate-color-1);
}

h4 {
	font-family: Gilroy-Bold;
	color: #4b4b4b;
	font-size: 22px;
	line-height: 22px;
}

h5,
.form-check-label {
	font-family: HelveticaNeueCyr-Roman;
	color: #323232;
	font-size: 18px;
	margin-bottom: 0;
}

p {
	font-family: HelveticaNeueCyr-Light;
	color: #323232;
	font-size: 18px;
}

a {
	color: var(--corporate-color-1);
	text-decoration: none;
	padding-top: 0;
	padding-bottom: 0;
}

a:hover {
	color: var(--corporate-color-hover-1);
}

#process-section,
.process-light,
.portfolio,
.about,
.advantage,
.certificates {
	padding-block: 60px;
}

.orderLeftMenSection {
	padding-top: 60px;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #dc3545;
	text-decoration: none;
	background-color: white;
}

.carousel-control-prev-icon {
	content: url('../img/ico/prev-icon.svg');
	background-image: none;
}

.carousel-control-next-icon {
	content: url('../img/ico/next-icon.svg');
	background-image: none;
}

#imageModal .carousel-control-next,
#imageModal .carousel-control-prev {
	width: 24%;
}

#imageModal .btn-close,
#certModal .btn-close,
#certificates .btn-close {
	right: 5%;
	top: 8%;
	filter: invert(0.8);
	z-index: 100;
}

#imageModal .btn-close:hover,
#certModal .btn-close:hover {
	filter: invert(1);
}

#imageModal,
#certModal {
	background-color: rgba(0, 0, 0, 0.7); /* Измените альфа-канал (четвертое значение) */
}

#certModal .modal-content {
	background-color: transparent;
	border: none;
}

/*** HEADER ***/
#navbarSupportedContent1 {
	font-family: HelveticaNeueCyr-Roman;
	font-size: 14px;
	color: #4b4b4b;
}

.top-menu-tel {
	font-family: HelveticaNeueCyr-Medium;
	font-size: 18px;
	color: #4b4b4b;
}

#top-menu-2 {
	border-top: 1px solid rgba(175, 175, 175, 0.5);
	background: rgba(248, 249, 250, 0.85);
	position: sticky;
	width: 100%;
	z-index: 999;
	top: 0;
}

.menu-item {
	font-family: HelveticaNeueCyr-Medium;
	text-transform: uppercase;
	font-size: 14px;
}

#main-menu .nav-link.active,
#navbarSupportedContent2 .nav-link.active,
#navbarSupportedContent3 .nav-link.active {
	color: var(--corporate-color-1);
}

#main-menu .nav-link:hover,
#navbarSupportedContent2 .nav-link:hover,
#navbarSupportedContent3 .nav-link:hover {
	color: var(--corporate-color-1);
}

.nav-li-float-left {
	width: 24px;
	float: left;
	margin: auto;
	margin-right: 10px;
}

.nav-li-float-right {
	width: calc(100% - 24px);
	float: right;
	margin: auto;
	line-height: 16px;
}

.ico-button {
	opacity: 100%;
	transition: 0.25s;
}

.ico-button:hover {
	opacity: 70%;
}
/*** HEADER ***/

/*** HOME ***/
#main-home-header {
	height: 495px;
	padding-top: 90px;
	padding-bottom: 110px;
}

#main-home-header::after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	height: 640px;
	width: 100%;
	background: url(../img/main-home-bg.jpg) no-repeat center center;
	background-size: cover;
	/* background-position: -695px -120px; */
}

#template-home-header {
	background: url(../img/home-template-bg.jpg);
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0;
}

.home-title {
	font-family: HelveticaNeue;
	font-size: 58px;
	text-transform: uppercase;
	color: #ebebeb;
	max-width: 970px;
}

.home-subtitle {
	font-family: HelveticaNeueCyr-Roman;
	font-size: 24px;
	line-height: 1.25;
	color: #ebebeb;
	max-width: 967px;
	font-weight: normal;
}

.home-template-title {
	color: #ebebeb;
	font-family: Gilroy-Black;
	font-size: 65px;
	text-transform: uppercase;
}

.home-template-subtitle {
	color: #ebebeb;
	font-family: Gilroy-Semibold;
	font-size: 50px;
	line-height: 1;
}

.home-template-title__text {
	color: #ebebeb;
	font-family: HelveticaNeueCyr-Roman;
	font-size: 25px;
}
/*** /HOME ***/

/*** BUTTONS ***/
.btn-corporate-color-1 {
	color: #ffffff;
	background-color: var(--corporate-color-1);
	border-color: var(--corporate-color-1);
	font-family: HelveticaNeueCyr-Roman;
	font-size: 16px;
	border-radius: 5px;
}

.btn-corporate-color-1:hover {
	color: #ffffff;
	background-color: var(--corporate-color-hover-1);
	border-color: var(--corporate-color-hover-1);
}

.btn-corporate-color-1:active {
	color: #ffffff !important;
	background-color: var(--corporate-color-active-1) !important;
	border-color: var(--corporate-color-active-1) !important;
}
/*** /BUTTONS ***/

/*** PROCESS-LIGHT ***/
.process-title,
.portfolio-subtitle,
.certificates-subtitle {
	max-width: 930px;
	margin: 0 auto;
	font-family: HelveticaNeueCyr-Light;
	font-size: 20px;
	line-height: 1.25;
	text-align: center;
	color: #323232;
}

.process-title span {
	font-family: HelveticaNeueCyr-Medium;
}

.process-light h3 {
	font-family: HelveticaNeueCyr-Medium;
	font-size: 20px;
	color: #323232;
	font-weight: 500;
}

.process-light p {
	font-family: HelveticaNeueCyr-Light;
	font-size: 18px;
	line-height: 1.35;
	color: #323232;
}

.process-light p a {
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #dc3545;
}

#process-section p {
	font-family: HelveticaNeueCyr-Light;
	font-size: 18px;
	line-height: 1.5;
	color: #323232;
}
/*** /PROCESS-LIGHT ***/

/*** PORTFOLIO ***/

.portfolio .magnifier {
	transition: 0.35s;
	opacity: 0;
	position: absolute;
	background: url(../img/ico/magnifying-glass.svg) no-repeat center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.portfolio .carousel-item:hover .magnifier {
	opacity: 1;
	cursor: pointer;
}

/*** /PORTFOLIO ***/

/*** ABOUT***/

.about p {
	font-family: HelveticaNeueCyr-Light;
	font-size: 18px;
	line-height: 1.5;
	color: #323232;
}

/*** /ABOUT***/

/*** DESIGN-TEMPLATE ***/
.design-template .approximation {
	position: relative;
	width: 100%;
	max-height: 300px;
	height: 100%;
	overflow: hidden;
}

.design-template .approximation img {
	width: 100%;
	max-height: 100%;
	transition: 0.3s all ease;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-o-object-fit: cover;
	object-fit: cover;
	object-position: center;
}

.design-template .approximation:hover img {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.approximation {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.approximation img {
	width: 100%;
	height: 100%;
	transition: 0.3s all ease;
	transform: scale(1);
	object-fit: cover;
	object-position: center;
}

.project-container-2 {
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
	position: relative;
	/* cursor: pointer; */
}

.project-container-2:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.65),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0)
	);
	opacity: 1;
	transition: 0.25s;
}

.project-container-2:hover:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));*/
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.65),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0)
	);
	opacity: 0;
	transition: 0.25s;
}

.card-wrapper {
	position: relative;
	overflow: hidden;
	z-index: 2;
	/*position: absolute;
    bottom: 0;
    right: 5px;
    left: 0;*/
}
/*** /DESIGN-TEMPLATE ***/

/*** CONTACTS ***/
.contacts-section {
	background: url(../img/footer-bg.jpg) center;
	background-size: cover;
	position: relative;
}

#contacts-menu-2,
#menu-main-menu-2 {
	font-size: 14px;
}

/* Пункты меню */
#contacts-menu-2 .nav-link {
	color: #ebebeb;
}

/* Пункты меню active and hover*/
#contacts-menu-2 .nav-link.active,
#contacts-menu-2 .nav-link:hover {
	color: var(--corporate-color-1);
	transition: 0.25s;
}

.contacts-section p,
.contacts-section li {
	color: #ebebeb;
	font-family: HelveticaNeueCyr-Roman;
	font-size: 14px;
	margin-bottom: 8px;
}

.contacts-section p span {
	font-family: HelveticaNeueCyr-Medium;
	color: var(--corporate-color-1);
}

#contacts-menu-2 {
	text-transform: uppercase;
}

#contacts-menu-2 .nav-link img {
	position: relative;
	bottom: 2px;
}

.contacts-section .nav-li-float-right {
	color: #ebebeb;
}

.contacts-section .nav-li-float-right:hover {
	color: #fff;
}

.header-phone {
	font-family: Gilroy-Semibold;
	font-size: 20px;
	color: #323232;
	text-decoration: none;
	line-height: 14px;
}

.header-phone span {
	color: var(--corporate-color-1);
	font-family: Gilroy-Semibold;
	font-size: 20px;
	text-decoration: none;
	line-height: 14px;
}

footer {
	border-top: 1px solid #969696;
	color: #f5f5f5;
	padding-top: 22px;
	padding-bottom: 22px;
}

#im-in-footer {
	font-family: HelveticaNeueCyr-Light;
	font-size: 16px;
}

/*** /CONTACTS ***/

/*** ADVANTAGE ***/

.advantage-title {
	font-family: HelveticaNeueCyr-Medium;
	font-size: 20px;
	color: #323232;
	margin-bottom: 12px;
}

.advantage-description {
	font-family: HelveticaNeueCyr-Light;
	font-size: 18px;
	line-height: 1.35;
	color: #323232;
}

.advantage-description span {
	font-family: HelveticaNeueCyr-Medium;
}

/*** /ADVANTAGE ***/

/*** CERTIFICATES ***/

.certificates-card {
	width: 233px;
	height: 331px;
	position: relative;
}

.certificates-card .magnifier {
	transition: 0.35s;
	opacity: 0;
	position: absolute;
	background: url(../img/ico/magnifying-glass.svg) no-repeat center;
	top: -29px;
	bottom: 0;
	left: 0;
	right: 0;
}

.certificates-card .magnifier:hover {
	opacity: 1;
	cursor: pointer;
}

/*** /CERTIFICATES ***/

/*** ORDER ***/
.orderLeftMenSection .col-md-6 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.orderLeftMenSection h2 {
	font-family: HelveticaNeue;
	font-weight: 700;
	font-size: 30px;
	color: #323232;
}

.order-description {
	font-family: Gilroy-Light;
	font-size: 20px;
	line-height: 1.35;
	color: #323232;
}

.orderLeftMenSection .order-section-men {
	position: absolute;
	bottom: 0;
	left: 12%;
}

form .form-label {
	font-family: HelveticaNeueCyr-Light;
	font-size: 16px;
	color: #323232;
}

form .btn,
form .form-control {
	width: 196px !important;
}

/*** /ORDER ***/

@media (max-width: 1399.98px) {
	#main-home-header {
		height: 420px;
		padding-top: 30px;
		padding-bottom: 60px;
	}

	.home-template-title {
		font-size: 55px;
	}

	.home-template-subtitle {
		font-size: 45px;
	}

	.header-phone {
		font-size: 18px;
	}

	.header-phone span {
		font-size: 18px;
	}
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
	#template-home-header {
		padding: 80px 0;
	}

	.orderLeftMenSection .order-section-men {
		left: -20%;
	}

	.certificates-card,
	.certificates-card img {
		width: 177px;
		height: 221px;
	}
}

@media (max-width: 767.98px) {
	.home-title {
		font-size: 45px;
	}

	.home-subtitle {
		font-size: 20px;
	}

	#template-home-header {
		padding: 50px 0;
	}

	.home-template-title {
		font-size: 45px;
	}

	.home-template-subtitle {
		font-size: 40px;
	}
}

@media (max-width: 575.98px) {
	#main-home-header {
		padding-top: 30px !important;
		height: 424px;
	}

	#main-home-header::after {
		height: 493px;
	}

	.home-title {
		font-size: 30px;
	}

	#template-home-header {
		padding: 28px 0;
	}

	.home-template-title {
		font-size: 36px;
	}

	.home-template-subtitle {
		font-size: 30px;
	}

	.home-template-title__text {
		font-size: 20px;
	}

	.orderLeftMenSection .order-section-men {
		display: none;
	}
}

.menu-item a {
	color: rgba(255, 255, 255, 0.55);
}

.logo-wrapper {
	width: auto;
}

@media (max-width: 992px) {
	.logo-wrapper {
		width: 100%;
	}
}

#menu-main-menu-1 .menu-item a {
	color: var(--default-color);
}

.menu-item.menu-item-type-custom {
	text-align: start;
}

.menu-item-has-children {
	position: relative;
}

/* Или более специфично для navbar */
.navbar-nav .menu-item-has-children {
	position: relative;
}
