/* ALL */
:root {
	--corporate-color-1: #DC3545;
	--corporate-color-hover-1: #BB2D3C;
	--corporate-color-active-1: #902531;
	/* --corporate-color-2: #BB2D3C; */
	--default-color: #323232;
}
/* END ALL */


/* FONTS */
@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Roman;
    src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Medium;
    src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Bold;
    src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Black;
    src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.ttf);
}

@font-face {
    font-family: Gilroy-Semibold;
    src: url(../fonts/Gilroy/Gilroy-Semibold.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: Gilroy-Black;
    src: url(../fonts/Gilroy/Gilroy-Black.ttf);
}
/* END FONTS */

* {
    box-sizing: border-box;
}

/*h1 {
	font-family: Gilroy-Black;
	color: white;
	font-size: 65px;
	text-transform: uppercase;
}*/

h2 {
	font-family: Gilroy-Bold;
	color: var(--default-color);
	font-size: 30px;
}

h3 {
    font-family: HelveticaNeueCyr-Medium;
    font-size: 20px;
    color: #323232;
}

h3 span {
    color: var(--corporate-color-1);
}

h4 {
    font-family: Gilroy-Bold;
    color: #4B4B4B;
    font-size: 22px;
    line-height: 22px;
}

h5, .form-check-label {
    font-family: HelveticaNeueCyr-Roman;
    color: #323232;
    font-size: 18px;
    margin-bottom: 0;
}

p {
    font-family: HelveticaNeueCyr-Light;
    color: #323232;
    font-size: 18px;
}

a {
    color: var(--corporate-color-1);
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0;
}

a:hover {
    color: var(--corporate-color-hover-1);
}


/*** HEADER ***/
#navbarSupportedContent1 {
    font-family: HelveticaNeueCyr-Roman;
    font-size: 14px;
    color: #4b4b4b;
}

.top-menu-tel {
    font-family: HelveticaNeueCyr-Medium;
    font-size: 18px;
    color: #4b4b4b;
}

#top-menu-2 {
    border-top: 1px solid rgba(175,175,175,.5);
    background: rgba(248,249,250,.85);
    position: sticky;
    width: 100%;
    z-index: 999;
    top: 0;
}

.menu-item {
    font-family: HelveticaNeueCyr-Medium;
    text-transform: uppercase;
    font-size: 14px;
}

#main-menu .nav-link.active,
#navbarSupportedContent2 .nav-link.active,
#navbarSupportedContent3 .nav-link.active
{
    color: var(--corporate-color-1);
}

#main-menu .nav-link:hover,
#navbarSupportedContent2 .nav-link:hover,
#navbarSupportedContent3 .nav-link:hover
{
    color: var(--corporate-color-1);
}

.nav-li-float-left {
    width: 24px;
    float: left;
    margin: auto;
    margin-right: 10px;
}

.nav-li-float-right {
    width: calc(100% - 24px);
    float: right;
    margin: auto;
    line-height: 16px;
}

.ico-button {
    opacity: 100%;
    transition: .25s;
}

.ico-button:hover {
    opacity: 70%;
}    
/*** HEADER ***/

/*** HOME ***/
#main-home-header {
    background: url(../img/main-home-bg.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
} 

#template-home-header {
    background: url(../img/home-template-bg.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.home-title {
    color: #fff;
    font-family: Gilroy-Black;
    font-size: 65px;
    text-transform: uppercase;
}

.home-subtitle {
    color: #fff;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 25px;
}

.home-template-title {
    color: #EBEBEB;
    font-family: Gilroy-Black;
    font-size: 65px;
    text-transform: uppercase;
}

.home-template-subtitle {
    color: #EBEBEB;
    font-family: Gilroy-Semibold;
    font-size: 50px;
    line-height: 1;
}

.home-template-title__text {
    color: #EBEBEB;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 25px;
}
/*** /HOME ***/

/*** BUTTONS ***/
.btn-corporate-color-1 {
    color: #FFFFFF;
    background-color: var(--corporate-color-1);
    border-color: var(--corporate-color-1);
    font-family: HelveticaNeueCyr-Roman;
    font-size: 16px;
    border-radius: 5px;
}

.btn-corporate-color-1:hover {
    color: #FFFFFF;
    background-color: var(--corporate-color-hover-1);
    border-color: var(--corporate-color-hover-1);
}

.btn-corporate-color-1:active {
    color: #FFFFFF !important;
    background-color: var(--corporate-color-active-1) !important;
    border-color: var(--corporate-color-active-1) !important;
}
/*** /BUTTONS ***/

/*** PROCESS-LIGHT ***/
.process-title {
    max-width: 900px;
    margin: 0 auto;
}
/*** /PROCESS-LIGHT ***/

/*** DESIGN-TEMPLATE ***/
.design-template .approximation {
    position: relative;
    width: 100%;
    max-height: 300px;
    height: 100%;
    overflow: hidden;
}

.design-template .approximation img {
    width: 100%;
    max-height: 100%;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    o-object-fit: cover;
    object-fit: cover;
    object-position: center;
}

.design-template .approximation:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.approximation {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.approximation img {
    width: 100%;
    height: 100%;
    transition: .3s all ease;
    transform: scale(1);
    object-fit: cover;
    object-position: center;
}

.project-container-2 {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    /* cursor: pointer; */
}

.project-container-2:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .65), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    opacity: 1;
    transition: .25s;
}

.project-container-2:hover:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));*/
    background-image: linear-gradient(to top, rgba(0, 0, 0, .65), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    opacity: 0;
    transition: .25s;
}

.card-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 2;
    /*position: absolute;
    bottom: 0;
    right: 5px;
    left: 0;*/
}
/*** /DESIGN-TEMPLATE ***/

/*** CONTACTS ***/
.contacts-section {
    background: url(../img/footer-bg.jpg) center;
    background-size: cover;
    position: relative;
}

#contacts-menu-2,
#menu-main-menu-2 {
    font-size: 14px;
}

/* Пункты меню */
#contacts-menu-2 .nav-link {
    color: #ebebeb;
}

/* Пункты меню active and hover*/
#contacts-menu-2 .nav-link.active,
#contacts-menu-2 .nav-link:hover {
    color: var(--corporate-color-1);
    transition: .25s;

}

.contacts-section p, 
.contacts-section li {
    color: #EBEBEB;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 14px;
    margin-bottom: 8px;
}

.contacts-section p span {
    font-family: HelveticaNeueCyr-Medium;
    color: var(--corporate-color-1);
}

#contacts-menu-2 {
    text-transform: uppercase;
}

#contacts-menu-2 .nav-link img {
    position: relative;
    bottom: 2px;
}

.contacts-section .nav-li-float-right {
    color: #EBEBEB;
}

.contacts-section .nav-li-float-right:hover {
    color: #fff;
}    

.header-phone {
    font-family: Gilroy-Semibold;
    font-size: 20px;
    color: #323232;
    text-decoration: none;
    line-height: 14px;
} 

.header-phone span {
    color: var(--corporate-color-1);
    font-family: Gilroy-Semibold;
    font-size: 20px;
    text-decoration: none;
    line-height: 14px;
}

footer {
    border-top: 1px solid #969696;
    color: #f5f5f5;
    padding-top: 22px;
    padding-bottom: 22px;
}

#im-in-footer {
    font-family: HelveticaNeueCyr-Light;
    font-size: 16px;
}

/*** /CONTACTS ***/


@media (max-width: 1399.98px) {
    #main-home-header {
        padding: 150px 0;
    }

    .home-template-title {
        font-size: 55px;
    }

    .home-template-subtitle {
        font-size: 45px;
    }  

    .header-phone {
        font-size: 18px;
    } 

    .header-phone span {
        font-size: 18px;
    } 
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
    #template-home-header {
        padding: 80px 0;
    }
}

@media (max-width: 767.98px) {
    #main-home-header {
        padding: 80px 0;
    }

    .home-title {
        font-size: 50px;
    }

    .home-subtitle {
        font-size: 20px;
    }

    #template-home-header {
        padding: 50px 0;
    }

    .home-template-title {
        font-size: 45px;
    }

    .home-template-subtitle {
        font-size: 40px;
    } 
}

@media (max-width: 575.98px) {
    #main-home-header {
        padding: 50px 0;
    }

    .home-title {
        font-size: 40px;
    }

    #template-home-header {
        padding: 28px 0;
    }

    .home-template-title {
        font-size: 36px;
    }

    .home-template-subtitle {
        font-size: 30px;
    } 

    .home-template-title__text {
        font-size: 20px;
    }
   
}  